#DJANGO
SECRET_KEY=Yey,eltnk.jtpyfxtybt_rjnjhjt_vj;tn,snmCtqfc
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

APP_GUVICORN_HOST=0.0.0.0
APP_GUVICORN_PORT=8000

#DATABASE
POSTGRES_DB=auth
POSTGRES_USER=postgres
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=super_secret_password!
