asgiref==3.11.1
bcrypt==5.0.0
gunicorn==23.0.0
drf-spectacular==0.28.1
cffi==2.0.0 ; platform_python_implementation != 'PyPy'
cfgv==3.5.0
cryptography==46.0.5
distlib==0.4.0
django==6.0.3
djangorestframework==3.16.1
filelock==3.24.2
identify==2.6.16
nodeenv==1.10.0
platformdirs==4.9.2
pre-commit==4.5.1
psycopg2-binary==2.9.11
pycparser==3.0 ; implementation_name != 'PyPy' and platform_python_implementation != 'PyPy'
pyjwt==2.11.0
python-discovery==1.1.2
python-dotenv==1.2.1
pyyaml==6.0.3
ruff==0.15.1
sqlparse==0.5.5
tzdata==2025.3 ; sys_platform == 'win32'
virtualenv==21.2.0
